In [2]:
%load_ext sql

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "users" does not exist
LINE 1: SELECT * FROM users LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM users LIMIT 5;']

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "songs" does not exist
LINE 1: SELECT * FROM songs LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM songs LIMIT 5;']

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "artists" does not exist
LINE 1: SELECT * FROM artists LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM artists LIMIT 5;']

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) relation "time" does not exist
LINE 1: SELECT * FROM time LIMIT 5;
                      ^
 [SQL: 'SELECT * FROM time LIMIT 5;']

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [5]:
%run sql_queries.py

In [6]:
%sql SELECT COUNT(*) FROM songplays;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%run create_tables.py

In [8]:
conn.close()

NameError: name 'conn' is not defined